<a href="https://colab.research.google.com/github/Praveen767599/G9_DS/blob/patch-3/Python_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON ASSIGNMENT-2 (FINAL QUIZ)

NAME : CHINNA PRAVEEN

GROUP : G9 DS

TOTAL QUESTIONS: 45

INSTRUCTOR NAME: BHARGAVESH DAKKA

1. What is the output ?

In [ ]:
x = "Hello"
y = "World"
z = x + y
print(z)

HelloWorld

2. Which of the following will throw an error?

a) x=y=z= "Orange"

b) x,y,z = "Orange"

c) x,y,z= "Orange", "Banana", "Cherry"

d) None of the above


Ans: b) x,y,z = "Orange"

Because of ValueError.

3. What is the output of the following Python code?

In [ ]:
x= True
y = False
z = False

if not x or y:
 print(1)

elif not x or not y and z:
 print(2)

elif not x or y or not y and x:
 print(3)

else:
 print(4)

3

4. What is the output of the following Python code?

In [ ]:
x = [1, 2, 3]
y = x
y.append(4)
print(x)

[1, 2, 3, 4]

5. What is the output of the following Python code?

In [ ]:
x = (1, 2, 3)
print(type(x))

<class 'tuple'>

6. What is the output of the following Python code?

In [ ]:
x = {1: "one", 2: "two"}
print(x[1])

one

7. What is the output of the following Python code?

In [ ]:
x = True + False
print(x)

1

8. What is the output of the following Python code?

In [ ]:
x = "123"
print(int(x) + 1)

124

9. What is the output of the following Python code?

In [ ]:
x = "Hello"
print(list(x))

['H', 'e', 'l', 'l', 'o']

10. What is the output of the following Python code?

In [ ]:
x = 123
print(bool(x))

True

11. What is the output of the following Python code?

In [ ]:
x = "123"
y = "456"
print(int(x + y))

123456

12. What is the output of the following Python code?

In [ ]:
x = 10
y = 20
print(x == y)

False

13. What is the output of the following Python code?

In [ ]:
x = True
y = False
print(x and y)

False

14. What is the output of the following Python code?

In [ ]:
x = 10
while x > 5:
 x -= 1
print(x)

5

15. What is the output of the following Python code?

In [ ]:
x = [1, 2, 3, 4, 5]
for i in x:
 if i == 3:
  break
 print(i, end=" ")

1 2

16. What is the output of the following Python code?

In [ ]:

x = [1, 2, 3, 4, 5]
for i in x:
 if i == 3:
  continue
 print(i, end=" ")

1 2 4 5

17. What is the output of the following Python code?

In [ ]:
x = [1, 2, "3", "4", "5"]
for i in x:
 if type(i) == int:
  continue
 print(i, end=" ")

3 4 5

18. What is the output of the following Python code?

In [ ]:
x = [1,2,3]
y = [i**2 for i in x]
print(y)

[1, 4, 9]

19. What is the output of the following Python code?

In [ ]:
x = [i for i in range(10)]
y = [i for i in x if i%2==0]
print(y)

[0, 2, 4, 6, 8]

20. What is the output of the following Python code?

In [ ]:
x  = "Hello"
print(x.strip())

Hello

21. What is the output of the following Python code?

In [ ]:

x = "Hello"
print(x[-1])

o

22. What is the output of the following Python code?

In [ ]:
x = {1:"one",2:"two",3:"three"}
print(len(x))

3

23. What is the output of the following Python code?

In [ ]:
x = [1, 2, 3]
y = x.pop()
print(y)

3

24. What is the output of the following Python code?

In [ ]:
x = {1,2,3}
y = list(x)
print(y)

[1, 2, 3]

25. What is the output of the following Python code?

In [ ]:
def greet(name):
 return "Hello," + name
print(greet("World"))

Hello,World

26. What is the output of the following Python code?

In [ ]:
def add(x, y=2):
 return x + y
print(add(1, 3))

4

27. What is the output of the following Python code?

In [ ]:
def add(x, y=2):
 return x + y
print(add(1))

3

28. What is the output of the following Python code?

In [ ]:
x = lambda a: a + 10
print(x(5))

15

29. What would be the output?
If we call fun(4) ?

In [ ]:
fun = lambda x: x*fun(x-1) if x>1 else 1
fun(4)

24

30. What would you be the output if we call
anagram(help, phel)

In [ ]:
anagram = lambda x,y: sorted(x) == sorted(y)
anagram(help,phel)

Ans: Error

NameError: name 'phel' is not defined

31. What would you be the output if we call
anagram('help', 'phel')

In [ ]:
anagram = lambda x,y: sorted(x) == sorted(y)
anagram('help', 'phel')

True

32. What is the output of the following Python code?

In [ ]:
class Test:
 def __init__(self):
  self.x = 1
t1 = Test()
t2 = Test()
t1.x = 2
print(t2.x)

1

33. What is the output of the following Python code?

In [ ]:
class Test:
 def __init__(self, x):
  self._x = x
t = Test(10)
print(t._x)

10

34. What is the output of the following Python code?

In [ ]:
class Parent:
 def func(self):
  print("This is parent function")

class Child(Parent):
 pass

c = Child()
c.func()

This is parent function

35. What is the output of the following Python code?

In [ ]:
class Parent:
 def func(self):
  print("This is parent function")

class Child(Parent):
 def func(self):
  super().func()
  print("This is child function")

c = Child()
c.func()

This is parent function
This is child function

36. What is the output of the following Python code?

In [ ]:
class Parent:
 def func(self):
  print("This is parent function")

class Child(Parent):
 def func(self):
  print("This is child function")

c = Child()
c.func()

This is child function

37. What function is used to open a file in Python?

a)open

b)file_open

c)f_open  

d)fopen

Ans: a) open

38. How do you create a new directory in Python?

a) os.create_directory()  

b)os.make_directory()

c) os.mkdir()

d) os.new_directory()

Ans: c) os.mkdir()

39. What is the output of the following Python code?

In [ ]:
try:
 x = 1/0
except ZeroDivisionError:
 x = 0
finally:
 x = 1
print(x)

1

40. What is the output of the following Python code?

In [ ]:
try:
 x = 1/0
except ValueError:
 x = 0
print(x)

Ans: b) Error

Because of ZeroDivisionError: division by zero

41. What is the output of the following Python code?

In [ ]:
try:
 x = 1/0
except ZeroDivisionError:
 x = 0
print(x)

0

42. What keyword is used to raise exceptions in Python?

a) throw
  
b) raise

c) try  
d) catch

Ans: b) raise

43. What keyword is used to handle exceptions in Python?

a)except  

b)handle  

c)catch  

d)try

Ans: a) except

44. What mode is used to open a file for reading in Python?

a) r  

b) x  

c) w

d) a

Ans: a) r

45. What is the output of the following Python code?

In [ ]:
x = "Hello"
print(x[1:4])

ell